* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
h5 {
	font-size: 3rem;
	font-weight: bold;
}
.bg-light {
    background-color: white!important;
}
.navbar {
    -webkit-box-shadow: -1px 12px 17px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 12px 17px -17px rgba(0,0,0,0.75);
    box-shadow: -1px 12px 17px -17px rgba(175, 170, 170, 0.75);
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    font-size: 1.8rem;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9);
    font-size: 1.2rem;
}
.logo-class {
    width: 80px;
    height: 53px;
    padding: 5px 0px;
}
.part .card {
	border: none;
}
.part-first {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.part-h1 {
	background: #00000069;
    /*display: inline-block;*/
    /*margin-top: 4rem;*/
    margin: 2rem; 
    padding: 2rem;
    border-radius: 8px;
    color: white;
}
 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	.display-1 {
		font-size: 1.8rem;
	}
 }

/*// Small devices (landscape phones, less than 768px)*/
@media (min-width: 576px) and (max-width: 767.98px)  { 
	.display-1 {
		font-size: 2.2rem;
	}
 }

/*// Medium devices (tablets, less than 992px)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
	.display-1 {
		font-size: 2.5rem;
	}
 }

/*// Large devices (desktops, less than 1200px)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
	.display-1 {
		font-size: 4.0rem;
	}
 }

.services {
	background: #e9ecef;
}
.card:hover {
    -webkit-box-shadow: 0px 0px 21px 0px #adb5bdab;
    -moz-box-shadow: 0px 0px 21px 0px #adb5bdab;
    box-shadow: 0px 0px 21px 0px #adb5bdab;
    background-color: #e9ecef;
}
.any-project {
    background-image: url(images/outstanding-wd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    padding: 4rem 0rem;
    color: white;
}
.any-project-div {
	background: #0000002e;
    display: inline-block;
    margin-top: 4rem;
    padding: 2rem;
    border-radius: 8px;
    color: white;
}
.portfolio {
	margin: 3rem 0rem;
}
.portfolio img {
	border-radius: 10px;
	border: 2px solid #0000ff66;
}
.package {
	ma
}
.package .card {
	margin: 0px;
}
.pack-padding {
	background-color: #f8f9fa;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-radius: 8px;
}
.silver:hover {
	background: silver;
	color: white;
	transition: 1s ease;
}
.silver h5{
	background: silver;
}
.gold:hover {
	background: #f9ae00;
	color: white;
	transition: 1s ease;
}
.gold h5{
	background: #f9ae00;
}
.platinum:hover {
	background-color: #00b92a;
	color: white;
	transition: 1s ease;
}
.platinum h5{
	color: white;
	transition: 1s ease;
	background-color: #00b92a;
}
.ecommerce:hover {
	background-color: #e4172b;
	color: white;
	transition: 1s ease;
}
.ecommerce h5{
	background: #e4172b;
}

.package .silver h6, .package .gold h6, .package .platinum h6, .package .ecommerce h6{
	font-size: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.04), 0 16px 56px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.04), 0 16px 56px 0 rgba(0,0,0,0.1);

}
.package .card:hover {
	box-shadow: 0px 25px 20px 0px #c6c6c6;
}
.package  p {
	text-align: center;
	margin-bottom: 0.6rem;
}
/*media query*/
@media(max-width: 576px){
.package h2{
    font-size: 1.5rem;
}
}
.contact {
    background-image: url(images/contact-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    color: white;
}
.contact .card {
	color: black;
}
.contact iframe {
	padding: 0.7rem;
	border-radius: 4px;
	background: white;
}
footer .footer-first {
	background-color: #152136;
	color: white;
	text-align: center;
}
footer .footer-first p {
	margin: 2rem;
}
footer .footer-first .icon {
	padding: 3rem;
}
footer .footer-bottom {
	background-color: #1c2940;
}